body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f5f7;
    color: #333;
}

header {
    text-transform: capitalize;
    background-color: #8b8bf3e8;
    color: white;
    padding: 20px;
    text-align: center;
}
.contenedor-imagen {
  text-align: center;
  border-radius: 20px;
}

.logo {
    width: 80px;
    height: auto;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

ul {
    list-style: disc;
    padding-left: 20px;
}

.cta {
    text-align: center;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}